.profilePicture {
    height: 300px;
    width: 300px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid #d0d7de;
    z-index: 10;
}

.profileSide {
    width: 300px;
}

.profilePicture img {
    height: 300px;
}

.top {
    top: -30px;
}

.followButton {
    background-color: var(--button-primary-color);
    border: 1px solid var(--border-secondary-color);
    padding: 4px 20px;
    border-radius: 5px;
}